<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{_plantilla :: estructura(~{::body})}" lang="es">
<head>
<title>Carrito</title>
</head>
<body>
	<div id="factura">

		<div class="row">
			<table id="vendedor">
				<caption>Vendedor</caption>

				<tbody>
					<tr>
						<th scope="row">Nombre</th>
						<td>Supermercados Ejemplo Final</td>
					</tr>
					<tr>
						<th scope="row">CIF</th>
						<td>B95123123</td>
					</tr>

				</tbody>
			</table>

			<table id="cliente" class="ml-auto">
				<caption>Cliente</caption>

				<tbody>
					<tr>
						<th scope="row">Id</th>
						<td th:text="${factura.cliente.id}">CLIENTE ID</td>
					</tr>
					<tr>
						<th scope="row">Nombre</th>
						<td th:text="${factura.cliente.nombre}">CLIENTE NOMBRE</td>
					</tr>
					<tr>
						<th scope="row">Apellidos</th>
						<td th:text="${factura.cliente.apellidos}">CLIENTE APELLIDOS</td>
					</tr>
					<tr>
						<th scope="row">CIF</th>
						<td th:text="${factura.cliente.cif}">CLIENTE CIF</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">

			<div class="col-12 p-0 text-right">
				Número de factura: [[${factura.codigo}]]<br /> Fecha de factura:
				[[${#temporals.format(factura.fecha, 'dd-MM-yyyy')}]]
			</div>

			<table id="productos"
				class="table table-striped table-bordered table-hover table-sm text-right">
				<caption>Productos</caption>
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col" class="text-left">Nombre</th>
						<th scope="col">Cantidad</th>
						<th scope="col">Precio unidad</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="linea: ${factura.detallesFactura}">
						<th scope="row">[[${linea.producto.id}]]</th>
						<td class="text-left">[[${linea.producto.nombre}]]</td>
						<td>[[${linea.cantidad}]]</td>
						<td>[[${#numbers.formatCurrency(linea.producto.precio)}]]</td>
						<td class="font-weight-bold">[[${#numbers.formatCurrency(linea.total)}]]</td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<th scope="row" colspan="4">Total</th>
						<td class="font-weight-bold">[[${#numbers.formatCurrency(factura.total)}]]</td>
					</tr>
					<tr>
						<th scope="row" colspan="4">IVA (21%)</th>
						<td class="font-weight-bold">[[${#numbers.formatCurrency(factura.iva)}]]</td>
					</tr>
					<tr>
						<th scope="row" colspan="4">Total (IVA incluído)</th>
						<td class="font-weight-bold">[[${#numbers.formatCurrency(factura.totalConIva)}]]</td>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="row">
			<a class="btn btn-primary" href="javascript:print()">Imprimir
				factura</a>
		</div>
	</div>
</body>
</html>
